<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tripazo - Smart suggestiosn to find out what to do and discover places!</title>

<!--CSS -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,300' rel='stylesheet' type='text/css'>
<link href="{{STATIC_URL}}css/trip_style.css" type="text/css" rel="stylesheet" media="all"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" />
 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{{STATIC_URL}}js/function.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.cycle.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>


 

 
</head> 
 
<body>
<div id="slideshow">
<img src="{{STATIC_URL}}images/pic01.jpg" class="bgM"/>
<img src="{{STATIC_URL}}images/pic02.jpg" class="bgM"/>
<img src="{{STATIC_URL}}images/pic03.jpg" class="bgM"/>

</div>
<div id="wrap">
	<!--<div id="header">
    	<div id="nav_bar">
        	<div class="container container-full-width">
            	<a href="#" class="brand">TriplTrip.com</a>
            
            </div>
        </div>
    
    </div>-->
    
    <!-- Content here-->
    <div id="content_area">
    	<div class="bar_brand">
        	<div class="center">
        	<a class="logo">Tripazo</a>
            <h2 class="slogan">Smart suggestions to find out what to do and <span>discover places!</span></h2>	
            </div>
        </div>
        
        <div class="search-bar">
    	<div class="container">
    	<div class="inner_container">
    <!-- Form-->
    	<form  id="search_form" action="itinerary" method="POST">
        {% csrf_token %}
        <div class="input-wrapper">
        	<div class="icon_wrapper">	
            	<div class="place_icon"></div>
            </div>
            
          <!--input type="text" placeholder="*Select a city" name="city" id="city" autocomplete="off"-->
          <div class="custom-select-container">
            <div aria-hidden="true" class="custom dropdown small current">*City</div>
            <div class="custom selector"></div>
            {% if cities_list %}
                <select class="search-option small" name="city" id="city">
                {% for city in cities_list %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
                </select>
            {% else %}
                <p>No cities are available.</p>
            {% endif %}
            
             <span class="search-area-icon"></span>
          </div>
          
        </div>

        <div class="input-wrapper">
        	<div class="icon_wrapper">	
            	<div class="from_icon"></div>
            </div>
          <input type="text" placeholder="*From" name="from" class="input_short" id="datepicker">
        
        </div>
        <div class="input-wrapper" >
        	<div class="icon_wrapper">	
            	<div class="to_icon"></div>
            </div>
          <input type="text" placeholder="*To" name="to" class="input_short" id="datepicker2">
        
        </div>
        
        
        <!--Traveler type -->
        <div class="input-wrapper">
        	<div class="icon_wrapper">	
            	<div class="traveler_icon"></div>
            </div>
          <div class="traveler_type">*Traveler type</div>
          <a href="login" class="search-area-icon drop"></a>
			<div id="traveler_list">	
            	<div class="indicator"></div>
                	<ul>
                    	{% if types_list %}
                        <li>   
                            {% for type_travel in types_list %}
                                <label onClick="" class="input-control checkbox">
                			<input type="checkbox" name="type_travel" value="{{ type_travel.id }}" >
                			<span class="helper">{{ type_travel.name }}</span>
                			</label>
                            {% endfor %}
                        </li>    
                        {% else %}
                            <p>No Travel types are available.</p>
                        {% endif %}
                	</ul>
            </div>


        </div>




        <div class="input-wrapper">
        	<div class="icon_wrapper">	
            	<div class="budget_icon"></div>
            </div>
          <div class="custom-select-container">
            <div aria-hidden="true" class="custom dropdown small current">*Budget</div>
            <div class="custom selector"></div>
            {% if budget_list %}
            <select class="search-option small" name="budget" id="budget">
                {% for budget in budget_list %}
                    <option value="{{ budget.name }}">{{ budget.name }}</option>
                {% endfor %}
            </select>
            {% else %}
                <p>No budgets are available.</p>
            {% endif %}
            
             <span class="search-area-icon"></span>
          </div>
        </div>
        <button id="submit_location"  type="submit">
          Create itineray
        </button>
      </form>
      	</div>
        </div>
    	
       </div>
       
       
    </div>
    
<!-- 
	<div id="footer">
    	<div id="bar">
        	<p>© Tripazo.com</p>
            <ul class="social">
            	<li><a class="tw" href="#">Twitter</a></li>
                <li><a class="fb" href="#">Facebook</a></li>
                <li><a class="pin" href="#">Pinterest</a></li>
            </ul>
        </div>
    </div>
</div>
--> 

</body>
</html>