<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tripazo - Smart suggestiosn to find out what to do and discover places!</title>

<!--CSS -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,300' rel='stylesheet' type='text/css'>
<link href="{{STATIC_URL}}css/trip_style.css" type="text/css" rel="stylesheet" media="all"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" />
 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{{STATIC_URL}}js/function.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.cycle.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<!--
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.sticky.js"></script>
  <script>
    $(window).load(function(){
      //$("#header").sticky({ topSpacing: 0 });
    });
  </script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
-->
<script>
    
jQuery.validator.addMethod("isValid", function (value, element) {
    var startDate = $('#datepicker').val();
    var t  = startDate.split(/\-|\s/);
    ini_date = new Date(t.reverse().join('/'));
    
    var endDate = $('#datepicker2').val();
    t  = endDate.split(/\-|\s/);
    end_date = new Date(t.reverse().join('/'));
    return Date.parse(ini_date,"dd-MM-yyyy") < Date.parse(end_date, "dd-MM-yyyy");
}, "End date must be after start date");
    
$(function() {
   $( "#search_form" ).validate({
           rules: {
                   city: {
                           required: true
                   },
                   from: {
                           required: true,
                   },
                   to: {
                           required: true,
                           isValid: true
                   },
                   type_travel : {
                           required: true
                   },
                   budget : {
                           required: true
                   }
           },
           messages: {
                   city: {
                           required: "Select a city"
                   },
                   from: {
                           required: "Select a start date"
                   },
                   to: {
                           required: "Select a end date"
                   },
                   type_travel : {
                           required: "Select a traveler type"
                   },
                   budget : {
                           required: "Select a budget"
                   }
                   
           }
   });
});
</script>

<script>
 //In itinerary.html this function to hides transtition image and show main page
function transitionMessage(){  
  setTimeout(function(){
    document.getElementById("transitionDiv").style.display="none";
    document.getElementById("wrap").style.display="block";
  },2500)
}
window.onload=transitionMessage();
</script> 
 
</head> 
<body onLoad="init({{date_sub_days_max}})">
<!-- Move style to style sheet when testing is ready  -->
<div id="transitionDiv"><img src="{{STATIC_URL}}/images/transition_image.jpg"></div>
<div id="wrap" style="display:none"> <!--display is changed by transitionMessage() JS function-->
	<div id="header">
    	<div class="center">
        	<a class="logo" href="/web">Tripazo</a>
           	<form  id="search_form" action="itinerary"  method="POST">
                {% csrf_token %}
        <div class="input-wrapper_iti">
        	<div class="icon_wrapper">	
            	<div class="place_icon"></div>
            </div>
          <input type="text" readonly="true" placeholder="City" name="city" id="city" autocomplete="off" onClick="select_city_list_index()">
          <input type="hidden" name="city_id" id="city_id">
          <a href="login" class="search-area-icon drop3"></a>
			<div id="city_list">	
            	<div class="indicator"></div>
                	 {% if cities_list %}
                    <ul>
                        {% for city in cities_list %}
                            <li>
                                <a href="javascript:;" onClick="city_select_ele({{ city.id }},'{{ city.name }}');">{{ city.name }}</a>
                            </li>
                        {% endfor %}
                                                        
                            <li>
                            <a>More coming soon...</a>
                            </li>
                    </ul>
                {% else %}
                    <p>No cities are available.</p>
                {% endif %}
            </div>
        </div>

        <div class="input-wrapper_iti">
        	<div class="icon_wrapper">	
            	<div class="from_icon"></div>
            </div>
          <input type="text" readonly="true" placeholder="*From" name="from" class="input_short" id="datepicker3">
        
        </div>
        <div class="input-wrapper_iti" >
        	<div class="icon_wrapper">	
            	<div class="to_icon"></div>
            </div>
          <input type="text" readonly="true" placeholder="*To" name="to" class="input_short" id="datepicker4">
        
        </div>
        
        
        <!--Traveler type -->
        <div class="input-wrapper_iti">
        	<div class="icon_wrapper">	
            	<div class="traveler_icon"></div>
            </div>
          <div class="traveler_type" onClick="traveler_list_show();">Traveler type</div>
          <a href="login" class="search-area-icon drop"></a>
			<div id="traveler_list">	
            	<div class="indicator"></div>
                	<ul>
            			{% if types_list %}
                                <li>   
                                    {% for type_travel in types_list %}
                                        <label onClick="" class="input-control checkbox">
                                                <input type="checkbox" name="type_travel" id="type_travel" value="{{ type_travel.name }}" >
                                                <span class="helper">{{ type_travel.name }}</span>
                                                </label>
                                    {% endfor %}
                                </li>    
                                {% else %}
                                    <p>No Travel types are available.</p>
                                {% endif %}
                	</ul>
            </div>


        </div>




        <div class="input-wrapper_iti">
        	<div class="icon_wrapper">	
            	<div class="budget_icon"></div>
            </div>
           
           <input type="text" readonly="true" placeholder="Budget" name="budget" id="budget" class="budget_type" autocomplete="off" onClick="budget_city_list_index()">
           <input type="hidden" name="budget_id" id="budget_id">
          <a href="login" class="search-area-icon drop2"></a>
			 {% if budget_list %}
                        <div id="budget_list">	
                            <div class="indicator"></div>
                            <ul>
                                {% for budget in budget_list %}
                                <li>
                                    <a href="javascript:;" onClick="budget_select_ele({{ budget.id }},'{{ budget.name }}');">{{ budget.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        {% else %}
                            <p>No budgets are available.</p>
                        {% endif %}
        </div>
        <!--<span class="req">(*) required fields</span>-->
        <button id="submit_location"  type="submit">
          Find Activities
        </button>
      </form>
       </div>
    
    </div>
    <!-- Content here-->
    <div class="container">
    	<div class="itinerary_title">
    	    <h1>{{budget_selected_name}} TRAVELER</h1><br>
    	    <h1><span>OUR IDEAS FOR</span></h1><br>
        	<h1>       	  
        	  
        	      {% if selected_traveler_type_name %}
                  {% for i in selected_traveler_type_name %}
                    +{{ i.name }} 
                  {% endfor %}
                                                        
                {% else %}
                    <span>No Traveler types were selected ZZZ...</span>
                {% endif %}
        	</h1>
            <div class="fromTo"><span class="month"> FROM {{month_from}}</span><h4 class="number">{{from_date.day}} </h4>

            <span class="num"></span>
            {% if from_date.day == 1 %}
                <span class="num">ST</span>
            {% endif %}
            {% if from_date.day == 2 %}
                <span class="num">ND</span>
            {% endif %}
            {% if from_date.day == 3 %}
                <span class="num">RD</span>
            {% endif %}
            {% if from_date.day >= 4 %}
                <span class="num">TH</span>
            {% endif %}
            <span class="month">TO {{month_to}}</span><h4 class="number">{{to_date.day}} </h4>
            <span class="num"></span> 
            {% if to_date.day == 1 %}
                <span class="num">ST</span>
            {% endif %}
            {% if to_date.day == 2 %}
                <span class="num">ND</span>
            {% endif %}
            {% if to_date.day == 3 %}
                <span class="num">RD</span>
            {% endif %}
            {% if to_date.day >= 4 %}
                <span class="num">TH</span>
            {% endif %}

            </div>
        </div>
        
    {% if places_list %}
        
        {% for place_group in places_list %}
        	 <!--- ITINERARY DAYS-->
        <div class="inner_container">
            <div id="itinerary_day">
        	<div class="label">DAY {{forloop.counter}}</div>
            <div id="weather_container" style="display:none;"></div>
            <a href="#" class="map" style="display:none;"></a>
            <div class="clear"></div>
            <!-- "previous page" action -->
            <a class="prev browse left disabled"></a>
            
            <!-- root element for scrollable -->
            <div id="scrollable" class="scrollable">
            
              <!-- root element for the items -->
              <div class="items">
            
                <!-- 1-5 -->
                <div>
                  
                
                  
                  {% for place in place_group %}
                  		
                        <div class="itinerary_item">
                            <div class="ico place white">
                            <img src="{{place.icon}}" width="32" height="32" />    
                            </div>
                            
                            {% if place.photo_url1 != null  %}
                            	<img onClick="expand_detail({{place.id}}, {{forloop.parentloop.counter}}, {{date_sub_days_max}}, {{forloop.counter}})" src="{{place.photo_url1}}" alt="Pic" width="123" height="124"/>
                            {% else %}
                                <img onClick="expand_detail({{place.id}}, {{forloop.parentloop.counter}}, {{date_sub_days_max}}, {{forloop.counter}})" src="{{STATIC_URL}}images/itinerary_pic01.jpg" alt="Pic" />
                            {% endif %}                            
                            	
                          <!--
                            	<img onClick="expand_detail(1, {{i}}, {{date_sub_days_max}})" src="{{STATIC_URL}}images/itinerary_pic01.jpg" alt="Pic" />
                           
                             -->
                            
                            <p>{{place.name}}</p>
                            
                            <div id="options">
                                <a href="#" class="">
                                    <span>info</span>
                                    <div class="icon_wrapper">	
                                    <div class="info"></div>
                                 </div>
                                 
                                </a>
                                <a href="#" class="">
                                    <span>more places</span>
                                    <div class="icon_wrapper">	
                                    <div class="more_places"></div>
                                 </div>
                                 
                                </a>
                                <a href="#" class="">
                                    <span>close</span>
                                    <div class="icon_wrapper">	
                                    <div class="close"></div>
                                 </div>
                                 
                                </a>
                            </div>
                          </div>
                        
                  {% endfor %}
                  
                  
				
                  
                  
                
                </div>
            
                <!-- 5-10 -->
            
            
              </div>
            
            </div>
            
            <!-- "next page" action 
            <a class="next browse right"></a>
            -->
         </div>
        
        </div>
            
        <!-- expansion--->
        <div class="expansion_pre" id="expansion_pre_{{forloop.counter}}" name="expansion_pre_{{forloop.counter}}">
          <div class="expansion">
          	<div class="back"></div>
            <div class="border_top"></div>
            <div class="angle" id="angle_{{forloop.counter}}"></div>
            <div class="center">
                <h1 id="place_title_{{forloop.counter}}" class="place_title">GRAND CENTRAL STATION</h1>
                <div class="pic">
                <img id="place_img_{{forloop.counter}}" alt="Pic" src="{{STATIC_URL}}images/pic_info.jpg" width="260" height="262" />
                </div>
                <div class="col_center">
                    <img id="im_map_{{forloop.counter}}" alt="PMap" src="{{STATIC_URL}}images/map_goggle.jpg" />
                    <ul>
                        <li id="address_{{forloop.counter}}" class="adress">Grand Central Terminal
                            89 E 42nd Street
    New York, NY 10017</li>
                        <li id="website_{{forloop.counter}}" class="mail"><a href="#" target="_blank">info@grandcentralterminal.com</a></li>
                        <li id="phone_{{forloop.counter}}" class="phone">(212) 340-2583 / (718) 330-1234 </li>
                    </ul>
                </div>
                <div id="content_div_{{forloop.counter}}" class="col_right">
                    <p><strong>Grand Central Terminal (GCT) </strong>—colloquially called Grand Central Station, or shortened to simply Grand Central—is a commuter rail terminal station at 42nd Street and Park Avenue in Midtown Manhattan in New York City, United States. Built by and named for the New York Central Railroad in the heyday of American long-distance passenger rail travel, it is the largest train station in the world by number of platforms:[3] 44, with 67 tracks along them. They are on two levels, both below ground, with 41 tracks on the upper level and 26 on the lower, though the total number of tracks along platforms and in rail yards exceeds 100. The terminal covers an area of 48 acres (19 ha).</p></div>
            </div>
            
            </div>
          </div>  
    	{% endfor %}
    {% else %}
        <p>No Places are available.</p>
    {% endif %}
        
    
    <div class="action_buttons">
    	<a href="#" class="btn">share your plan</a>
        <a href="#" class="btn">save it</a>
        <a href="#" class="btn">smart hotel finder</a>
           
        
    </div>
    
    </div>
  	

	<div id="footer">
    	<div id="bar">
        	<p>© Tripazo.com</p>
            <ul class="social" style="display:none;">
            	<li><a class="tw" href="#">Twitter</a></li>
                <li><a class="fb" href="#">Facebook</a></li>
                <li><a class="pin" href="#">Pinterest</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
 	$(function() {
  // initialize scrollable
  //$(".scrollable").scrollable();
});
</script>
</body>
</html>